<div class="callout callout-default">
  <p><%=@question%></p>
  <p><i>- You</i></p>
</div>

<div class="callout callout-coach">
  <p><strong><%=@answer%></strong></p>
  <p><i>- Your coach</i></p>
</div>

<p class="text-decoration-none"><%= link_to "Ask another question", ask_path %></p>
