<p>Ask your coash anything:</p>

<form action="/answer" data-turbo="false">
  <div class="input-group">
    <div class="form-outline">
      <input type="text" name="question" placeholder="Type your question here" class="form-control">
    </div>
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
